:root {
  --color-1: rgba(38, 70, 83, 0.5);
  --color-2: rgba(42, 157, 143, 0.5);
  --color-3: rgba(42, 157, 143, 0.5);

   /* light mode */
  /*--white: #ffffff;*/
  /*--dark-gray: #212121;*/
  /*--light-gray: #4d4d4d;*/

  /* dark mode */
  --white: #171717;
  --dark-gray: #ffffff;
  --light-gray: #999999;
}

html {
  font-family: Tahoma, sans-serif;
  background: var(--white);
  color: var(--dark-gray);
}
body {
  max-width: 80em;
}
table {
  border-spacing: 0.5em;
}
.chess-icon {
  font-size: 2em;
}
td {
  background: var(--color-1);
  padding: 1em;
  border-radius: 5px;
}
.endpoint {
  background: var(--color-2);
  color: var(--light-gray);
  text-decoration: none;
  font-weight: 600;
  padding: 0 1em;
  text-align: left;
  cursor: pointer;
}
.endpoint:hover {
  background: var(--color-3);
  color: var(--white);
}
.method {
font-size:smaller;
padding-bottom:.5em;
  color: var(--dark-gray);
}
.description {
  font-weight: 800;
  display: block;
  padding: 0 0 0.25em 0;
}
label {
  color: var(--dark-gray);
}
input,
textarea {
  display: block;
  width: 90%;
  max-width: 70em;
  margin: 0.5em 0 0 0;
  padding: 0.25em;
}
textarea {
  height: 20em;
  padding: 1em;
}
.input {
  margin: 1em 0;
}
.box {
  border-radius: 5px;
  background: var(--color-1);
  padding: 0.5em 2em 2em;
  margin: 1em;
}
button {
  background-color: var(--dark-gray);
  border-radius: 5px;
  border-style: none;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  width: 60px;
  margin-left: -4px;
}
button:hover {
  opacity: 0.8;
}
button:active {
  background-color: var(--light-gray);
}
#response {
  color: var(--dark-gray);
}
code {
  background-color: var(--color-1);
  border-radius: 5px;
  padding: 0.05em;
}
